# Flutter
.dart_tool/
.pub/
.pub-cache/
/build/
/coverage/
*.lock
*.pid
*.log

# Android
/android/.gradle
/android/.idea
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

# macOS
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral/
/macos/Pods/

# Linux
/linux/flutter/ephemeral/

# Windows
/windows/flutter/ephemeral/

# IDE
.idea/
*.iml
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Obfuscation
app.*.symbols
app.*.map.json

# Private
*.key
*.pem
*.crt
*.p12